{
  "trailingComma": "none",
  "semi": false,
  "tabWidth": 4,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 200
}
